body {
    background-color: black;
}



.container.user-box {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 300%;
    align-items: flex-start;
    margin: 0;
    color: white;
}

.welcome {
    text-align: center;
    margin: 18px 0;
}

.user-form > div > form > div {
    margin: 5px 0;
}

.new-to-t > p {
    margin: 24px 0 12px 0;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-group > input {
    background-color: deepskyblue;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px white solid;
    padding: 4px;
    width: 100%;
}

.form-button {
    text-align: center;
}

.form-button > button {
    border-radius: 10px;
    background-color:rgb(83, 202, 241);
    color: white;
    border: 2px white solid;
    padding:10px;
    width: 100%;
}

.welcome-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}

.user-form > div {
    font-size: 50%;
    display: flex;
    flex-direction: column;

}

.logo >  {
    font-size: 50%;
}

.logo-bird {
    color: white;
    font-size: 200px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.login-options {
    text-align: center;
    font-size: 50%
}

.login-options > a {
    text-decoration: none;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.5;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.5;
  }
