body {
    background-image: url(./images/sky-background.png)
}
   
.container.user-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}


#title {
    color: red
}

.square {
    height: 600px;
    width: 300px;
    background-color: yellowgreen;
    border-radius: 8px;
    opacity: 0.5
}

.fa-twitter {
    color: blue;
}

